<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log In</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="form-container">
    <form class="form-card" action="/log-in" method="POST">
      <h2>Log In</h2>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Log In</button>
      <button><a href="/">Back to homepage</a></button>
    </form>
  </div>
</body>
</html>
