<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Membership Code</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="form-container">
    <form class="form-card" action="/membership-code" method="POST">
      <h1>Enter membership code</h1>
      <h4>(This will allow you to see the author and date of messages)</h4>
      <h5>It's 1234 ;)</h5>
      <% if (errorMessage) { %>
        <p><%= errorMessage %></p>
      <% } %>
      <label for="passcode">Passcode</label>
      <input type="text" id="passcode" name="passcode" required>
      <div class="form-buttons">
        <button type="submit">Submit</button>
        <button><a href="/">Back to homepage</a></button>
      </div>
    </form>
  </div>
</body>
</html>