<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Message</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="form-container">
    <form class="form-card" action="/new-message" method="POST">
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="4" cols="50" required></textarea>
      <div class="form-buttons">
        <button type="submit">Submit</button>
        <button><a href="/">Back to homepage</a></button>
      </div>
    </form>
  </div>
</body>
</html>